<div class="row">
  {% if ask_for_delete %}
  <script>
    setTimeout(()=>{
      Swal.fire({
        title: "<strong>Voulez vous vraiment supprimer l'utilisateur {{del_user.username}}?</strong>",
        icon: "info",
        html: `
          Cette action est irreversible, <b class="text-primary">{{del_user.first_name}} {{del_user.last_name}}</b> sera supprimer definitivement.
        `,
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText: `
          <i class="fa fa-thumbs-up"></i> Supprimer
        `,
        confirmButtonAriaLabel: "Thumbs up, great!",
        cancelButtonText: `
          Annuler
        `,
        cancelButtonAriaLabel: "Thumbs down"
      }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Supprimer Ok!", "", "success");
            setTimeout(()=>{
              window.location="{% url 'delete_user'%}?user_id={{del_user_id}}"
            },1000)
          }
        });
    },1000)
   </script>
  {% endif %}
  {% if ban_user %}
  <script>
    setTimeout(()=>{
      Swal.fire({
        title: "<strong>Vous confirmer vouloir banir l'utilisateur {{del_user.username}}?</strong>",
        icon: "info",
        html: `
          l'utilisateur <b class="text-primary">{{del_user.first_name}} {{del_user.last_name}}</b> ne pourra plus se connecter,n'aura plus access a son compte, vous pouvez retablir son access a tout moment.
        `,
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText: `
          <i class="fa fa-thumbs-up"></i> Desactiver l'utilisateur
        `,
        confirmButtonAriaLabel: "Thumbs up, great!",
        cancelButtonText: `
          Annuler
        `,
        cancelButtonAriaLabel: "Thumbs down"
      }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Utilisateur bani Ok!", "", "success");
            setTimeout(()=>{
              window.location="{% url 'ban_user'%}?user_id={{del_user_id}}"
            },1000)
          }
        });
    },1000)
   </script>
  {% endif %}
  {% if unban_user %}
  <script>
    setTimeout(()=>{
      Swal.fire({
        title: "<strong>Vous confirmer vouloir retablir les access {{del_user.username}}?</strong>",
        icon: "info",
        html: `
          l'utilisateur <b class="text-primary">{{del_user.first_name}} {{del_user.last_name}}</b> pourra a nouveau se connecte et utiliser son compte
        `,
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText: `
          <i class="fa fa-thumbs-up"></i> Retablir l'access
        `,
        confirmButtonAriaLabel: "Thumbs up, great!",
        cancelButtonText: `
          Annuler
        `,
        cancelButtonAriaLabel: "Thumbs down"
      }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Acces retabli Ok!", "", "success");
            setTimeout(()=>{
              window.location="{% url 'unban_user'%}?user_id={{del_user_id}}"
            },1000)
          }
        });
    },1000)
   </script>
  {% endif %}
          <div class="col-12 col-md-8">
              <div class="form-group">
                      <label for="inputSearch">Rechercher: </label> 
                      <form method="get" action="">            
                    <div class="input-group">
                        
                          <input type="text" value="" name="srch_wd" placeholder="Search identifiant, name, email....." class="form-control form-control-lg border-left-0" id="inputSearch" required>                        
                        <div class="input-group-prepend bg-transparent">
                              <button type="submit" class="input-group-text bg-primary border-right-0">
                                  <i class="ti-search text-white"></i>
                              </button>
                          </div>
                        </div>
                        </form>
              </div>
            </div>
            

            <div class="col-12 col-md-4">
              <form method="get" action="">
              <div class="form-group">
               <label>Filtres :</label>
              <div class="input-group">
                 
                  <select class="form-control form-control-lg text-black bg-white" id="" name="filter" required>
                    <option >Choisir....</option>
                    <option value="teacher" {% if fltr_wd == 'teacher' %}selected{% endif %}>Professeur</option>
                    <option value="student" {% if fltr_wd == 'student' %}selected{% endif %}>Eleve</option>
                    <option value="admin" {% if fltr_wd == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="active" {% if fltr_wd == 'active' %}selected{% endif %}>Active</option>
                    <option value="inactive" {% if fltr_wd == 'inactive' %}selected{% endif %}>Inactive</option>
                    <option value="reg_today" {% if fltr_wd == 'reg_today' %}selected{% endif %}>Inscrit aujourdhui</option>
                    <option value="reg_this_week" {% if fltr_wd == 'reg_this_week' %}selected{% endif %}>Inscrit cette semaine</option>
                    <option value="reg_this_mth" {% if fltr_wd == 'reg_this_mth' %}selected{% endif %}>Inscrit ce mois-ci</option>
                  </select>
                   <div class="input-group-prepend bg-transparent">
                              <button type="submit" class="input-group-text bg-primary border-right-0">
                                  <i class="ti-exchange-vertical text-white"></i>
                              </button>
                          </div>
                </div>
                </div>
              </form>
            </div>
            {% if is_srch %}
            <div class="col-12">
              <p>Resultat pour : <span style="font-weight: bold;">{{srch_wd}}</span>

                
                <button type="button" class="btn btn-sm btn-icon" style="font-weight: bold;font-size: 12px;">
                        {{users|length}}
                      </button>
                      utilisateur(s)
               <a href="{% url 'users_list' %}" class="btn btn-primary btn-rounded btn-fw">Tout les utilisateurs</a>
              </p>
            </div>
            {% endif %}

            {% if is_filter %}
            <div class="col-12">
              <p>Filtrer par : <span style="font-weight: bold;">{{filter_wd}}</span>

                
                <button type="button" class="btn btn-sm btn-icon" style="font-weight: bold;font-size: 12px;">
                        {{users|length}}
                      </button>
                      utilisateur(s)
               <a href="{% url 'users_list' %}" class="btn btn-primary btn-rounded btn-fw">Tout les utilisateurs</a>
              </p>
            </div>
            {% endif %}
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Liste d'utilisateurs</p>
                  <div class="table-responsive" style="min-height: 70vh;">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          
                          <th>DATE INSCRIPTION</th>
                          <th>IDENTIFIANT</th>
                          <th>NOM</th>
                          <th>PRENOM</th>
                          <th>EMAIL</th>
                          <th>TYPE ACC</th>
                          <th>STATUT</th>
                          <th>ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in users %}
                        <tr>
                          
                          <td>{{user.date_joined}}</td>
                          <td><a style="text-decoration: none;" href="{% url 'user_account' %}?user_id={{user.username}}"> {{user.username}}</a></td>
                          <td>{{user.first_name}}</td>
                          <td>{{user.last_name}}</td>
                          <td>{{user.email}}</td>
                          {% if user.is_staff %}
                            {% if user.is_superuser %}
                              <td>Admin</td>
                            {% else %}
                              <td>Professeur</td>
                            {% endif %}
                          {% else %}
                          <td>Eleve</td>
                          {% endif %}

                          {% if user.is_active %}
                          <td class="text-success text-bold"><b>Active</b></td>
                          {% else %}
                          <td class="text-danger text-bold"><b>Desactiver</b></td>
                          {% endif %}
                          
                          <td class="dropdown">
                          
                            <button type="button" class="btn btn-rounded btn-icon dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
                                <i class="ti-settings mx-0"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messageDropdown">
                              <p class="mb-0 font-weight-normal float-left dropdown-header"></p>
                                <a class="dropdown-item" href="{% url 'edit_account' %}?user_id={{user.username}}">
                                  <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"><i class="ti-pencil"></i> Modifier
                                    </h6>
                                  </div>
                                </a>
                                <a class="dropdown-item" href="{% url 'stats_account' %}?user_id={{user.username}}">
                                  <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"><i class="ti-bar-chart-alt"></i> Voir stats
                                    </h6>
                                  </div>
                                </a>
                                <a class="dropdown-item" href="?action=delete&del_user_id={{user.username}}">
                                  <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"><i class="ti-trash"></i> Supprimer
                                    </h6>
                                  </div>
                                </a>
                                {% if user.is_active %}
                                <a class="dropdown-item" href="?action=banir&del_user_id={{user.username}}">
                                  <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"><i class="ti-face-sad"></i> Banir l'utilisateur
                                    </h6>
                                  </div>
                                </a>
                                {% else %}
                                <a class="dropdown-item" href="?action=unbanir&del_user_id={{user.username}}">
                                  <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"><i class="ti-face-sad"></i> Retablir l'access
                                    </h6>
                                  </div>
                                </a>
                                {% endif %}
                                  
                                </div>
                          </td>
                        </tr>
                        {% endfor %}
                        
                       
                      </tbody>
                    </table>


                  </div>

                  <div class="row my-3">
                    <div class="col-12 text-center">
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              {% if users.has_previous %}
                               <li class="page-item">
                                <a class="page-link" href="{% url 'users_list' %}?page={{ users.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">Page precedente &laquo;</span>
                                </a>
                              </li>
                              {% else %}
                              <li class="page-item">
                                <a class="page-link text-muted" aria-label="Previous">
                                  <span aria-hidden="true">Page precedente &laquo;</span>
                                </a>
                              </li>
                              {% endif %}

                              <li class="page-item">
                                <a class="page-link text-bold">
                                {{users.number}}/{{users.paginator.num_pages}}
                                </a>
                              </li>
                              
                              {% if users.has_next %}
                              <li class="page-item">

                                <a class="page-link" href="{% url 'users_list' %}?page={{ users.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo; Page suivante</span>
                                </a>
                              </li>
                              
                              {% else %}
                              <li class="page-item disable">

                                <a class="page-link text-muted" aria-label="Next">
                                  <span aria-hidden="true">&raquo; Page suivante</span>
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                          </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>