{% extends "main_tmpl/base.html" %}
{% block title %}
ICARTABLE - Modifier mot de passe
{%endblock%}

{% block header_title %}
<div>
  <h4 class="font-weight-bold mb-0 text-white">Changer mot de passe</h4>
</div>
{% endblock %}

{% block command_btn %}

{%endblock%}

{% block content %}
        
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                 
                  {% if default_pass %}
                  <p class="text-danger">*Votre utiliser un mot de passe par defaut, vous devez le changer pour proteger votre compte, car 
                    le mot de passe par defaut est commun a tout les utilisateur
                  </p>
                  {% endif %}
                  
                  <div class="row">
                   
                    <div class="col-md-12 col-xl-9">
                      <div class="row">
                        <div class="col-12 mb-3 mb-md-0 mt-3 mt-md-0 grid-margin stretch-card">
                        <div class="card" style="border: 0px !important;box-shadow: none !important;">
                          <div class="card-body">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <li class="text-danger">{{ message }}</li>
                                {% else %}
                                    <li class="text-success">{{ message }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if is_change_pwd %}
                            <script>
                                setTimeout(()=>{
                                    window.location="{% url 'user_logout' %}"
                                },3000)
                            </script>
                            {% endif %}
                            
                              <ul class="d-flex flex-column todo-list todo-list-custom">
                                <form method="post" action="">
                                    {% csrf_token %}
                                 <li style="list-style:none !important;">
                                    <div class="form-group">
                                    <label>Password actuel</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-lock text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="password" value="" name="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" required>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label>Nouvau password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-lock text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="password" value="" name="new_pass" class="form-control form-control-lg border-left-0" id="exampleInputPassword" required>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label>Confirmer nouveau password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                           <i class="ti-lock text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="password" value="" name="confirm_pass" class="form-control form-control-lg border-left-0" id="last_name" required>                        
                                    </div>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                    <a href="#" class="auth-link text-black"></a>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="show_pwd">
                                        Voir password
                                        </label>
                                    </div>
                                    
                                    </div>
                                  
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">ENREGISTRER</button>
                                    </div>
                                </li>   
                                </form>
                                
                              </ul>
                            
                            
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
{%endblock%}
{% block custom_scripts %}
   <script>
    (function($) {
  'use strict';
  $(function() {
    if ($("#user-stats-chart").length) {
      var areaData = {
        labels: ["Jan", "Feb", "Mar"],
        datasets: [{
            data: [100, 50, 50],
            backgroundColor: [
              "#71c016", "#8caaff", "#248afd",
            ],
            borderColor: "rgba(0,0,0,0)"
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 78,
        elements: {
          arc: {
              borderWidth: 4
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        },
        legendCallback: function(chart) { 
          var text = [];
          text.push('<div class="report-chart">');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[0] + '"></div><p class="mb-0">Tot. document(s)</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[1] + '"></div><p class="mb-0">Tot. livres</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[2] + '"></div><p class="mb-0">Tot. salles de classe</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
          text.push('</div>');
          return text.join("");
        },
      }
      var northAmericaChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 3.125;
          ctx.font = "600 " + fontSize + "em sans-serif";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#000";
      
          var text = "0",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
      
          ctx.fillText(text, textX, textY);
          ctx.save();
        }
      }
      var northAmericaChartCanvas = $("#user-stats-chart").get(0).getContext("2d");
      var northAmericaChart = new Chart(northAmericaChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: northAmericaChartPlugins
      });
      document.getElementById('user-stats-chart-legend').innerHTML = northAmericaChart.generateLegend();
    }

  });
})(jQuery);
   </script>
{%endblock%}

