{% extends "main_tmpl/base.html" %}
{% block title %}
ICARTABLE - Modifier compte
{%endblock%}

{% block header_title %}
<div>
  <h4 class="font-weight-bold mb-0 text-white">Modifier profile</h4>
</div>
{% endblock %}

{% block command_btn %}

{%endblock%}

{% block content %} 
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">Mes infos</p>
                  <div class="row">
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      <div class="ml-xl-4">
                        <img src="{{user.profile_pic.photo.url}}" class="img col-12"/>
                        <button onclick="change_profile_pic()" type="button" class="btn btn-outline-light btn-icon-text my-2">
                          <i class="ti-upload btn-icon-prepend"></i>                                                    
                          Changer photo
                        </button>
                      </div>  
                    </div>
                    <div class="col-md-12 col-xl-9">
                      <div class="row">
                        <div class="col-12 mb-3 mb-md-0 mt-3 mt-md-0 grid-margin stretch-card">
                        <div class="card" style="border: 0px !important;box-shadow: none !important;">
                          <div class="card-body">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <li class="text-danger">{{ message }}</li>
                                {% else %}
                                    <li class="text-success">{{ message }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if confirm_change_email %}
                            <div class="row">
                              <div class="col-12 mb-3 mb-md-0 mt-3 mt-md-0 grid-margin stretch-card">
                                <div class="card" style="border: 0px !important;box-shadow: none !important;">
                                   <div class="card-body">
                                    <p class="text-muted"><span class="text-danger" style="text-decoration: underline;">ATTENTION:</span> vous avez demander a modifier votre adresse email, vous serez deconnecter et un code sera envoyer a votre
                                      nouvelle adresse email ( <span class="text-info">{{email}}</span> )....notez que si vous inserer un email invalide vous ne pourrez plus jamais 
                                      acceder a votre compte sans inserer le code envoyer sur cette nouvelle adresse email. Donc soyez prudent,
                                      et ne clicker sur confirmer que si vous etes sur de ce que vous faite.
                                    </p>
                                   
                                    <a href="{% url 'change_email' %}" type="submit" class="btn btn-success btn-icon-text">
                                      <i class="ti-alert btn-icon-prepend"></i>                                                    
                                      CONTINUER
                                    </a>
                                  
                                   </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                              <ul class="d-flex flex-column todo-list todo-list-custom">
                                <form method="post" action="">
                                    {% csrf_token %}
                                 <li style="list-style:none !important;">
                                    <div class="form-group">
                                    <label>Code identifiant</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-lock text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="text" value="{{user.username}}" name="identifiant" class="form-control form-control-lg border-left-0" id="exampleInputPassword" readonly>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label>Nom :</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-user text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="text" value="{{user.first_name}}" name="first_name" class="form-control form-control-lg border-left-0" id="exampleInputPassword" required>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label>Prenom :</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-user text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="text" value="{{user.last_name}}" name="last_name" class="form-control form-control-lg border-left-0" id="last_name" required>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label>Email ( *Si modifier un code de verification sera envoyer au nouvelle adresse email )</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="ti-email text-primary"></i>
                                        </span>
                                        </div>
                                        <input type="email" value="{{user.email}}" name="email" class="form-control form-control-lg border-left-0" id="email" required {%if email_field_readonly %}readonly{% endif%}>                        
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">ENREGISTRER</button>
                                    </div>
                                </li>   
                                </form>
                                
                              </ul>
                            
                            
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
{%endblock%}

{% block modal_popup %}
<div id="change_pic_form" class="d-none" style="display: none;">
   <ul class="d-flex flex-column todo-list todo-list-custom">
      <form method="post" action="{% url 'change_profile_pic' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <li style="list-style:none !important;">
            <div class="form-group">
                <div class="input-group">
                  <input type="hidden" value="{{user.username}}" name="user_id"/>
                  <input type="file" name="photo" class="form-control form-control-lg border-left-0" id="exampleInputPassword" required>                        
                </div>
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-info">ENREGISTRER</button>
            </div>
          </li>

      </form>
  </ul>
</div>
{%endblock%}


  {% block custom_scripts %}
   <script>
    (function($) {
  'use strict';
  $(function() {
    if ($("#user-stats-chart").length) {
      var areaData = {
        labels: ["Jan", "Feb", "Mar"],
        datasets: [{
            data: [100, 50, 50],
            backgroundColor: [
              "#71c016", "#8caaff", "#248afd",
            ],
            borderColor: "rgba(0,0,0,0)"
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 78,
        elements: {
          arc: {
              borderWidth: 4
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        },
        legendCallback: function(chart) { 
          var text = [];
          text.push('<div class="report-chart">');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[0] + '"></div><p class="mb-0">Tot. document(s)</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[1] + '"></div><p class="mb-0">Tot. livres</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[2] + '"></div><p class="mb-0">Tot. salles de classe</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
          text.push('</div>');
          return text.join("");
        },
      }
      var northAmericaChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 3.125;
          ctx.font = "600 " + fontSize + "em sans-serif";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#000";
      
          var text = "0",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
      
          ctx.fillText(text, textX, textY);
          ctx.save();
        }
      }
      var northAmericaChartCanvas = $("#user-stats-chart").get(0).getContext("2d");
      var northAmericaChart = new Chart(northAmericaChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: northAmericaChartPlugins
      });
      document.getElementById('user-stats-chart-legend').innerHTML = northAmericaChart.generateLegend();
    }

  });
})(jQuery);
   </script>
{%endblock%}

