{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ICARTABLE Se connecter</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'main_tmpl/vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'main_tmpl/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'main_tmpl/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'main_tmpl/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'main_tmpl/images/logo.png' %}" alt="logo">
              </div>
              <h4>Bonjour! Bienvenue</h4>
              <h6 class="font-weight-light">Connectez vous a votre compte.</h6>
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                      {% if message.tags == 'error' %}
                        <li class="text-danger">{{ message }}</li>
                      {% else %}
                        <li>{{ message }}</li>
                      {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
              <form class="pt-3" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="identifiant" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Code identifiant">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">CONNECTER</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Afficher/Cacher password
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Password oublie ?</a>
                </div>
                <div class="mb-2">
                  <!--<button type="button" class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook me-2"></i>Connect using facebook
                  </button>-->
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Pas encore de compte ? <a href="{% url 'create_acc' %}" class="text-primary">S'inscrire</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
