{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} Icartable compte verifier {%endblock%}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'main_tmpl/vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'main_tmpl/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'main_tmpl/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'main_tmpl/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: white;">
      <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <img src="{% static 'main_tmpl/images/logo.png' %}" class="navbar-brand d-none d-md-block ml-5" alt="logo" style="width: 100% !important;margin-left: 40px !important;"/>
        <img src="{% static 'main_tmpl/images/logo.png' %}" class="navbar-brand d-md-none ml-5" alt="logo" style="width: 200% !important;margin-left: 100px !important;"/>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      {% block content %}
      <div class="content-wrapper d-flex align-items-center auth px-0" style="padding-top: 100px !important;">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
             
              
              <h6 class="font-weight-light text-center text-success">Inscription reussi Ok!</h6>
              <p class="text-muted text-center" style="font-size: 13px;">
                Votre compte a etait creer avec succes!
              </p>
              <p class="text-muted text-left" style="font-size: 13px;">
                Pour vous connecter :<br/>
                Votre ID : <b>{{user.username}}</b> <button onclick="copy_user_id('{{user.username}}')" class="btn btn-xs text-primary"><i class="ti-layers"></i></button> <br/>
                Mot de passe : <b>votre mot de passe</b>

              </p>
             
                <div class="text-center mt-4 font-weight-light text-muted" style="font-size: 13px;">
          
                  <a href="{% url 'verify_account' %}" class="btn btn-xs btn-primary" id="renvoyer-code">Suivant</a>
                </div>

                
          
            </div>
          </div>
        </div>
      </div>
      {%endblock%}
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

   <script src="{% static 'main_tmpl/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'main_tmpl/js/off-canvas.js' %}"></script>
  <script src="{% static 'main_tmpl/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'main_tmpl/js/template.js' %}"></script>
  <script src="{% static 'main_tmpl/js/todolist.js' %}"></script>
   <script src="{% static 'main_tmpl/js/scripts.js' %}"></script>
   {% block custom_scripts %}
   <script>
    function copy_user_id(user_id){
        navigator.clipboard.writeText(user_id)
        .then(() => {
            alert("Copier ok!");
        })
        .catch(err => {
            //console.error("Erreur lors de la copie :", err);
        });

    }
   </script>
   {%endblock%}
  
</body>

</html>
