{% extends "main_tmpl/base.html" %}
{% block title %}
ICARTABLE - Souscriptions
{%endblock%}

{% block header_title %}
<div>
  <h4 class="font-weight-bold mb-0 text-white">Souscription</h4>
</div>
{% endblock %}

{% block command_btn %}

{%endblock%}

{% block content %}
 <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  
                  <div class="row">
                    
                    <div class="col-12">
                      <div class="row">
                        

                        <div class="col-12 mb-3 mb-md-0 mt-3 mt-md-0 grid-margin stretch-card">
                        <div class="card" style="border: 0px !important;box-shadow: none !important;">
                          <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 class="text-primary">CLASSIC</h1>
                                    <p class="text-muted">Votre souscription actuelle est classic, un compte par defaut fourni lors de l'inscription.</p>
                                    <h4 class="text-muted">Liste de service accessible par un compte classic : </h4>
                                </div>
                                <div class="col-12">
                                    <div class="list-wrapper pt-2" style="overflow:visible !important;min-height: 70vh;">
                                    <ul class="d-flex flex-column" style="border: 0px !important;">
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Maximum de docs : <b class="text-primary">100</b></h5>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Maximum de livre : <b class="text-primary">5</b></h5>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Maximum de classe  : <b class="text-primary">5</b></h5>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Maximum d'eleve par classe : <b class="text-primary">10</b></h5>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Maximum de quiz : <b class="text-primary">10</b></h5>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Nombre de question par quiz : <b class="text-primary">10</b></h5>

                                        </li>
                                        </li>
                                        <li>
                                        <h5 class="font-weight-bold mb-0 text-muted">Utilisation d'IA : <b class="text-primary">10 requetes/Jours</b></h5>
                                        
                                        </li>
                                        
                                    
                                        
                                    </ul>
                                    </div>
                                </div>
                                <div class="col-12 text-center my-3">
                                    <button type="button" class="btn btn-primary btn-rounded btn-fw text-white">Migrer vers un compte pro</button>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>


                       
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>

{%endblock%}
{% block custom_scripts%}
   <script>
    (function($) {
  'use strict';
  $(function() {
    if ($("#user-stats-chart").length) {
      var areaData = {
        labels: ["Jan", "Feb", "Mar"],
        datasets: [{
            data: [100, 50, 50],
            backgroundColor: [
              "#71c016", "#8caaff", "#248afd",
            ],
            borderColor: "rgba(0,0,0,0)"
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 78,
        elements: {
          arc: {
              borderWidth: 4
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        },
        legendCallback: function(chart) { 
          var text = [];
          text.push('<div class="report-chart">');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[0] + '"></div><p class="mb-0">Tot. document(s)</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[1] + '"></div><p class="mb-0">Tot. livres</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="me-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[2] + '"></div><p class="mb-0">Tot. salles de classe</p></div>');
            text.push('<p class="mb-0">0</p>');
            text.push('</div>');
          text.push('</div>');
          return text.join("");
        },
      }
      var northAmericaChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 3.125;
          ctx.font = "600 " + fontSize + "em sans-serif";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#000";
      
          var text = "0",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
      
          ctx.fillText(text, textX, textY);
          ctx.save();
        }
      }
      var northAmericaChartCanvas = $("#user-stats-chart").get(0).getContext("2d");
      var northAmericaChart = new Chart(northAmericaChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: northAmericaChartPlugins
      });
      document.getElementById('user-stats-chart-legend').innerHTML = northAmericaChart.generateLegend();
    }

  });
})(jQuery);
   </script>
{%endblock%}
