{% extends "main_tmpl/base.html" %}
{% block title %}
ICARTABLE - Mon compte
{%endblock%}

{% block header_title %}
    <div>
        {% if user.is_superuser %}
        <h4 class="font-weight-bold mb-0 text-white">Hello! Admin</h4>
        {% else %}
        <h4 class="font-weight-bold mb-0 text-white">Hello! {{user.first_name}} {{user.last_name}}</h4>
        {% endif %}
    </div>
  {% endblock %}





{% block content %}
<di class="row mx-3 d-block bg-white">
  <div class="col-12 mb-2">
    <button type="button" onclick="window.location='#statistics'" class="btn btn-rounded btn-md text-primary"><i class="ti-pencil"></i> Modifier profile</button>
    <button type="button" onclick="window.location='#recent_docs'" class="btn btn-rounded btn-md text-primary"><i class="ti-image"></i> Changer photo</button>
    <button type="button" onclick="window.location='/change_password'" class="btn btn-rounded btn-md text-primary"><i class="ti-shield"></i> Modifier mot de passe</button>
  </div>
</di>

{% load custom_filters %}
<div class="row mx-1" id="recent_docs">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                  <h4><i class="ti-user"></i> Profile</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-2">
                      <img src="{{user.profile_pic.photo.url}}" alt="Photo de profile" style="width: 100%;"/>
                    </div>
                    <div class="col-12 col-md-10">
                      <table>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">ID : </td>
                          <td style="font-size: 14px;">{{user.username}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Nom : </td>
                          <td style="font-size: 14px;">{{user.first_name}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Prenom : </td>
                          <td style="font-size: 14px;">{{user.last_name}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Sex : </td>
                          <td style="font-size: 14px;">{{user.user_infos.sex}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Date naissance : </td>
                          <td style="font-size: 14px;">{{user.user_infos.date_naissance}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Email : </td>
                          <td style="font-size: 14px;">{{user.email}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Inscription: </td>
                          <td style="font-size: 14px;">le {{user.date_joined}}</td>
                        </tr>
                        <tr>
                          <td style="font-size: 14px;font-weight: bold;">Compte verifier : </td>
                          <td style="font-size: 14px;"> {{user.user_infos.is_verified}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          

          </div>
{%endblock%}
     